@import "tailwindcss";

:root {
  --bg: #ffffff;
  --text: #111827;
  --card: #f3f4f6;
  --primary: #4f46e5;
}

[data-theme="dark"] {
  --bg: #111827;
  --text: #f9fafb;
  --card: #1f2937;
  --primary: #6366f1;
}

body {
  background: var(--bg);
  color: var(--text);
  transition: 0.3s;
}
