<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>React Components Demo</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background: #f4f4f4;
      margin: 0;
      padding: 20px;
    }
  </style>
  <link rel="stylesheet" href="./src/components/button/Button.css" />
  <link rel="stylesheet" href="./src/components/card/Card.css" />
  <link rel="stylesheet" href="./src/components/layout/Layout.css" />
</head>
<body>
  <div id="root"></div>

  <script src="https://unpkg.com/react@18/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

  <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

  <script type="text/babel" src="./src/components/button/Button.js"></script>
  <script type="text/babel" src="./src/components/card/Card.js"></script>
  <script type="text/babel" src="./src/components/layout/Layout.js"></script>

  <script type="text/babel" src="./src/app.js"></script>
</body>
</html>
